<html>
<head>
    <title>Slides</title>
    <meta charset="utf-8">
    <link href="public/themes/{{ .Theme }}/css/remark.css" media="all" rel="stylesheet" type="text/css" />
    <link href="public/themes/{{ .Theme }}/css/mermaid.css" media="all" rel="stylesheet" type="text/css" />

</head>
<body>

<script src="/public/js/remark-puml.min.js" type="text/javascript"></script>
<!-- <script src="/public/js/mermaid.min.js" type="text/javascript"></script> -->
<script src="/public/js/rawdeflate.js" type="text/javascript"></script>
<script src="/public/js/plantUml.js" type="text/javascript"></script>
<script src="/public/js/jquery-1.9.1.min.js"></script>
<script src="/public/js/remark-zoom.js" type="text/javascript"></script>
<script src="/public/js/remark-macros.js" type="text/javascript"></script>
<script src="/public/js/Chart.min.js" type="text/javascript"></script>
<script src="/public/js/remarkchart.min.js" type="text/javascript"></script>


<!--<script>mermaid.initialize({startOnLoad:true});</script>-->
<script>
    var mySlidesName = location.search.split('slides=')[1];
    //var mySlidesName = {{ .SlideURI }}

    var slidesName = mySlidesName ? mySlidesName : 'home.md';
    var lastContent = "";
    var planResponse = "";
    console.log(mySlidesName);
    console.log(slidesName);

    function setContent(x) {
        planResponse=x;
    }

    var slideshow = remark.create({
        sourceUrl: slidesName,
        highlightStyle: 'monokai',
        ratio : {{ .Ratio }},
        navigation: {
            scroll: true,  // disable nagivation using scroll
            highlightLines: true // Highlight background of code lines prefixed with *
        }
    });

     // start remarkchart
     remarkchart.init(slideshow);

   //mermaid.initialize({startOnLoad:true});
</script>

</body>
</html>
